<table class="table">
  <thead>
  <tr>
    <th scope="col">编号</th>
    <th scope="col">客户端</th>
    <th scope="col">等级</th>
    <th scope="col">上下文</th>
    <th scope="col">线程号</th>
    <th scope="col">发出对象</th>
    <th scope="col">内容</th>
    <th scope="col">时间戳</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let log of logPage.content.content; let i = index">
    <td>{{i + 1}}</td>
    <td>{{log.client.name}}</td>
    <td>{{log.level}}</td>
    <td>{{log.context}}</td>
    <td>{{log.thread}}</td>
    <td>{{log.logger}}</td>
    <td>{{log.message}}</td>
    <td>{{log.timestamp | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
  </tr>

</table>
<app-page *ngIf="logPage.totalPages != 0" [setTotalPages]="logPage.totalPages" [setPage]="params.page" [setSize]="params.size" (selected)="onPageSelected($event)"></app-page>

