
<form (ngSubmit)="onQuery()">
  <table>
    <tr>
      <td>
        <label>用户名：</label>
      </td>
      <td>
        <input class="form-control form-control" name="name" [formControl]="params.username" type="text"/>
      </td>
      <td>
        <label>邮箱：</label>
      </td>
      <td>
        <input class="form-control form-control" name="email" [formControl]="params.email" type="text"/>
      </td>
      <td>
        <button type="submit" class="btn btn-primary">查询</button>
      </td>
      <td>
        <a class="btn btn-success"  routerLink="./add"><span class="oi oi-plus"></span>新增</a>
      </td>
    </tr>
  </table>
</form>
<br>
<table class="table">
  <thead>
  <tr>
    <th scope="col">序号</th>
    <th scope="col">姓名</th>
    <th scope="col">用户名</th>
    <th scope="col">邮箱</th>
    <th scope="col">操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of pageUser.content; index as index">
    <td>{{index + 1}}</td>
    <td>{{user.name}}</td>
    <td>{{user.username}}</td>
    <td>{{user.email}}</td>
    <td>
      <button class="btn btn-primary btn-sm mr-2" routerLink="./edit/{{user.id}}"><i class="fas fa-edit"></i>
                编辑</button>
      <button class="btn btn-danger btn-sm mr-2" (click)="onDelete(user)"> <i class="fas fa-trash-alt"></i>
        删除</button>
      <button class="btn btn-info btn-sm mr-2" (click)="resetPassword(user.id)"> <i class="fas fa-trash-alt"></i>
        重置密码</button>
    </td>
  </tr>
  </tbody>
</table>
<br>
<app-page *ngIf="pageUser.totalPages != 0" [setTotalPages]="pageUser.totalPages" [setPage]="params.page" [setSize]="params.size" (selected)="onPageSelected($event)" ></app-page>
