<form>
  <label>姓名：<input type="text" /></label>
  <label>邮箱：<input type="text" /></label>
  <button type="submit">查询</button>
</form>

<div class="row">
  <div class="col text-right">
    <a class="btn btn-primary"  routerLink="./add"><span class="oi oi-plus"></span>新增</a>
  </div>
</div>

<table class="table">
  <thead>
  <tr>
    <th scope="col">序号</th>
    <th scope="col">姓名</th>
    <th scope="col">邮箱</th>
    <th scope="col">密码</th>
    <th scope="col">操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of pageUser.content; index as index">
    <td>{{index + 1}}</td>
    <td>{{user.name}}</td>
    <td>{{user.username}}</td>
    <td>{{user.email}}</td>

    <td>修改密码</td>
    <td>
      <button class="btn btn-primary btn-sm mr-2" routerLink="./edit/{{user.id}}"><i class="fas fa-edit"></i>
                编辑</button>
      <button class="btn btn-danger btn-sm mr-2" (click)="onDelete(user)"> <i class="fas fa-trash-alt"></i>
        删除</button>
    </td>
  </tr>
  </tbody>
</table>
<div *ngIf="pageUser" class="row">
  <div class="col-4" id="pageInfo">
    第{{params.page + 1}}/{{pageUser.totalPages}}页 每页{{params.size}}条

  </div>
  <div class="col-8">
    <nav>
      <ul class="pagination">
        <li class="page-item" [ngClass]="{'disabled': params.page === 0}" (click)="onPage(0)">
          <span class="page-link">首页</span>
        </li>
        <li class="page-item" [ngClass]="{'disabled': params.page === 0}" (click)="onPage(params.page - 1)">
          <span class="page-link">上一页</span>
        </li>
        <li class="page-item" [ngClass]="{'active': params.page === page}" *ngFor="let page of pages" (click)="onPage(page)">
          <span class="page-link" *ngIf="page !== params.page">{{page + 1}}</span>
          <span class="page-link" *ngIf="page === params.page">{{page + 1}}<span class="sr-only">(current)</span></span>
        </li>
        <li class="page-item" [ngClass]="{'disabled': params.page === pageUser.totalPages - 1}" (click)="onPage(params.page + 1)">
          <span class="page-link">下一页</span>
        </li>
        <li class="page-item" [ngClass]="{'disabled': params.page === pageUser.totalPages - 1}" (click)="onPage(pageUser.totalPages - 1)">
          <span class="page-link">尾页</span>
        </li>

      </ul>
    </nav>
  </div>
</div>
