<form >
  <div class="form-group">
    <label for="username">账号<code>*</code></label>
    <input type="text" class="form-control" id="username" placeholder="username..."/>
  </div>
  <div class="form-group">
    <label for="oldPassword">旧密码<code>*</code></label>
    <input type="password" class="form-control" id="oldPassword" placeholder="old password...">
  </div>
  <div class="form-group">
    <label for="newPassword">新密码<code>*</code></label>
    <input type="password" class="form-control" id="newPassword" placeholder="new password...">
  </div>
  <div class="form-group">
    <label for="repeatPassword">重复新密码<code>*</code></label>
    <input type="password" class="form-control" id="repeatPassword" placeholder="repeat the new password...">
  </div>
  <div class="form-group">
    <button type="submit"
            class="btn btn-primary btn-block">确认
    </button>
  </div>
</form>
