<form class="container-sm" (ngSubmit)="onSubmit(formGroup)" [formGroup]="formGroup">
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label text-right" for="name">客户端名称<code>*</code></label>
    <div class="col-sm-10">
      <input type="text" [formControlName]="formKeys.name"class="form-control" name="name" id="name">
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label  text-right" for="token">Token<code>*</code></label>
    <div class="col-sm-10">
      <input type="text" [formControlName]="formKeys.token" class="form-control" name="pinyin" id="token">
      <small class="text-danger"
             *ngIf="formGroup.get(this.formKeys.token)!.touched && formGroup.get(this.formKeys.token)!.invalid">
        <span *ngIf=" client.token!==formGroup.get(this.formKeys.token).value && formGroup.get(this.formKeys.token).errors.userExist">
                      该Token已存在，请重新输入！
        </span>
        <span *ngIf="formGroup.get(this.formKeys.token).errors.tokenLength">
                      token长度只能为32位
        </span>
        <span *ngIf="formGroup.get(this.formKeys.token).errors.token" >
                      token只能包含数字和字母
        </span>
      </small>
    </div>
  </div>
  <div class="col-7 offset-2">
    <small class="text-danger" *ngIf="formGroup.get(formKeys.token).invalid">
      <span >{{formGroup.get(formKeys.token).getError(formKeys.token)}}</span>
    </small>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label  text-right" for="url">Url<code>*</code></label>
    <div class="col-sm-10">
      <input type="text" [formControlName]="formKeys.url" class="form-control" name="pinyin" id="url">
    </div>
  </div>
  <div class="mb-3 row">
    <div class="col-sm-10 offset-2">
      <button class="btn btn-primary" [disabled]="client.token!==formGroup.get(this.formKeys.token).value && formGroup.invalid" type="submit"><i class="fas fa-save"></i>保存
      </button>
    </div>
  </div>
</form>
