/* You can add global styles to this file, and also import other style files */
.btn {
  margin-right: 0.5em;
}

label.btn{
  margin-right: 0;
}

.btn > i.fa, .btn > i.fas, .btn > i.far {
  margin-right: 0.5em;
}

svg.svg-inline--fa {
  margin-right: 0.5em;
}

.big-data-header-card {
  box-shadow: -10px 0px 15px #034c6a inset, 0px -10px 15px #034c6a inset, 10px 0px 15px #034c6a inset, 0px 10px 15px #034c6a inset;
  border: 1px solid #034c6a;
  box-sizing: border-box;
  position: relative;
  margin-top: 25px;
  padding: 25px 15px 15px;
}

.height-1 {
  height: 165px;
}

.height-2 {
  height: 330px;
}

.big-data-header-card .title {
  background-color: #034c6a;
  border-radius: 18px;
  position: absolute;
  height: 35px;
  width: 60%;
  top: -15px;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  left: 20%;
  line-height: 35px;
  text-align: center;
}

.big-data-header-card .title svg {
  margin-right: .5em;
}

.big-data-header-card .item {
  width: 50%;
  float: left;
  height: 50%;
  text-align: center;
  border: 1px solid #034c6a;
}

.big-data-header-card .item h3 {
  padding-top: 30%;
  padding-bottom: 6%;
}

.big-data-header-card .item-w15 {
  width: 15%;
  height: 100%;
}

.big-data-header-card a {
  color: white;
}

.big-data-header-card a:hover, .big-data-header-card a:visited {
  color: white;
  text-decoration: none;
}

.search {
  margin-top: 23px;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.form-control:required, .form-control.is-required {
  border-color: #80801c;
}

code {
  margin-left: 0.5em;
}
