<form [formGroup]="loginForm" (ngSubmit)="login()">
  <div class="form-group">
    <label for="username">账号</label>
    <input type="text" class="form-control"
           id="username" aria-describedby="username"
           placeholder="username..."
           formControlName="username">
    <small class="form-text text-muted">我们对您的输入信息将严格保密.</small>
  </div>
  <div class="form-group">
    <label for="password">密码</label>
    <input type="password" class="form-control" id="password"
           placeholder="password..." formControlName="password">
  </div>
  <ng-template [ngIf]="errorInfo">
    <hr>
    <small class="text-danger">{{ errorInfo }}</small>
  </ng-template>
  <button class="btn btn-block btn-primary" [disabled]="loginForm.invalid" [yzSubmitButton]="submitting">登 录</button>
</form>
