<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <a class="btn btn-light" routerLink="./../">返回上一页</a>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">新增客户端</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <form role="form">
            <div class="card-body">
              <div class="form-group">
                <label for="name">NAME</label>
                <input type="text" class="form-control" id="name">
              </div>
              <div class="form-group">
                <label for="token">TOKEN</label>
                <input type="text" class="form-control" id="token">
              </div>
              <div class="form-group">
                <label for="url">URL</label>
                <input type="text" class="form-control" id="url">
              </div>
              <div class="form-group">
                <label for="description">DESCRIPTION</label>
                <input type="password" class="form-control" id="description">
              </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              <button type="submit" class="btn btn-outline-primary">Submit</button>
            </div>
          </form>
        </div>
        <!-- /.card -->
      </div>
      <!--/.col (left) -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

