<div>
  <div class="main">
    <div class="main-login-warp">
      <div class="login bg-white p-5" >
             <h5 class="text-center">日志管理系统</h5>
        <hr>
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="carousel slide" data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active image0">
          <div class="carousel-caption">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer text-center p-2">
    梦云智开发团队©2021 <span class="text-secondary">版本号:{{"0.1.0"}}</span>
  </div>
</div>
