<div>
  <div class="main">
    <div class="main-login-warp">
      <div class="login bg-white p-5" >
        <div class="row">
            <h5 class="text-center offset-3" >
             日志管理系统
            </h5>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6 border-right" routerLink="./login"
               routerLinkActive="active" >
            <h6 class="text-center" >
              <a href="javascript:void(0);" class="text-reset text-decoration-none">登录</a>
            </h6>
          </div>
          <div class="col-md-6">
            <h6 class="text-center" >
              <a href="javascript:void(0);"
                 class="text-reset text-decoration-none">修改密码</a>
            </h6>
          </div>
        </div>
        <form >
          <div class="form-group">
            <label for="exampleInputEmail1">账号</label>
            <input type="text" class="form-control"
                   id="exampleInputEmail1" aria-describedby="emailHelp"
                   placeholder="username...">
            <small id="emailHelp" class="form-text text-muted">我们对您的输入信息将严格保密.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">密码</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="password...">
          </div>
          <button class="btn btn-block btn-primary" >登 录</button>
        </form>
      </div>
    </div>
    <div class="carousel slide" data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active image0">
          <div class="carousel-caption">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer text-center p-2">
    梦云智开发团队©2021 <span class="text-secondary">版本号:{{"0.0.0"}}</span>
  </div>
</div>
