<div class="container">
  <!--<header-i18n showLangText="false" class="langs"></header-i18n>-->
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="./assets/logo-color.svg">
        <span class="title">欢迎使用！</span>
      </div>
      <div class="desc">河北工业大学梦云智软件开发团队日志管理系统</div>
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
      Copyright
      <i class="anticon anticon-copyright"></i> 2017
      <a href="//www.mengyunzhi.com" target="_blank">梦云智</a>出品
    </global-footer>
  </div>
</div>
