<table class="table">
  <thead>
  <tr>
    <th>编号</th>
    <th>名称</th>
    <th>token</th>
    <th>线上地址</th>
    <th>最后交互时间</th>
    <th>最近启动时间</th>
    <th>今日info数</th>
    <th>今日warning数</th>
    <th>今日error数</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let client of clientPage.content.content; let i = index">
    <td>{{i + 1}}</td>
    <td>{{client.name}}</td>
    <td>{{client.token}}</td>
    <td>{{client.url}}</td>
    <td>{{client.lastSendTime}}</td>
    <td>{{client.lastStartTime}}</td>
    <td>{{client.todayLog.infoCount}}</td>
    <td>{{client.todayLog.warnCount}}</td>
    <td>{{client.todayLog.errorCount}}</td>
  </tr>

</table>

<div *ngIf="clientPage" class="row">
  <div class="col-4" id="pageInfo">
    第{{params.page}}/{{clientPage.totalPages}}页 每页{{params.size}}条
  </div>
  <div class="col-8">
    <nav>
      <ul class="pagination">
        <li class="page-item" [ngClass]="{'disabled': params.page === 0}" (click)="onPage(0)">
          <span class="page-link">首页</span>
        </li>
        <li class="page-item" [ngClass]="{'disabled': params.page === 0}" (click)="onPage(params.page - 1)">
          <span class="page-link">上一页</span>
        </li>
        <li class="page-item" [ngClass]="{'active': params.page === page}" *ngFor="let page of pages" (click)="onPage(page)">
          <a class="page-link" *ngIf="page !== params.page">{{page + 1}}</a>
          <span class="page-link" *ngIf="page === params.page">{{page + 1}}<span class="sr-only">(current)</span></span>
        </li>
        <li class="page-item" [ngClass]="{'disabled': params.page === clientPage.totalPages - 1}" (click)="onPage(params.page + 1)">
          <span class="page-link">下一页</span>
        </li>
        <li class="page-item" [ngClass]="{'disabled': params.page === clientPage.totalPages - 1}" (click)="onPage(clientPage.totalPages - 1)">
          <span class="page-link">尾页</span>
        </li>
      </ul>
    </nav>
  </div>
</div>
