<div class="row">
  <div class="col text-right">
    <a class="btn btn-primary"  routerLink="./add"><span class="oi oi-plus"></span>新增</a>
  </div>
</div>
<br>
<table class="table">
  <thead>
  <tr>
    <th>编号</th>
    <th>名称</th>
    <th>token</th>
    <th>线上地址</th>
    <th>最后交互时间</th>
    <th>最近启动时间</th>
    <th>今日info数</th>
    <th>今日warning数</th>
    <th>今日error数</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let client of clientPage.content.content; let i = index">
    <td>{{i + 1}}</td>
    <td>{{client.name}}</td>
    <td>{{client.token}}</td>
    <td>{{client.url}}</td>
    <td>{{client.lastSendTime}}</td>
    <td>{{client.lastStartTime}}</td>
    <td>{{client.todayLog.infoCount}}</td>
    <td>{{client.todayLog.warnCount}}</td>
    <td>{{client.todayLog.errorCount}}</td>
    <td>
      <button class="btn btn-primary btn-sm mr-2" routerLink="./edit/{{client.id}}"><i class="fas fa-edit"></i>
        编辑</button>
      <button class="btn btn-danger btn-sm mr-2" (click)="onDelete(client)"> <i class="fas fa-trash-alt"></i>
      删除</button>

    </td>
  </tr>

</table>
<app-page *ngIf="clientPage.totalPages != 0" [setTotalPages]="clientPage.totalPages" [setPage]="params.page" [setSize]="params.size" (selected)="onPageSelected($event)"></app-page>
