<div class="btn-toolbar justify-content-end">
  <a type="button" class="btn btn-outline-primary" routerLink="./add">增加客户端</a>
</div>

<table class="table">
  <thead>
  <tr>
    <th scope="col">编号</th>
    <th scope="col">名称</th>
    <th scope="col">token</th>
    <th scope="col">线上地址</th>
    <th scope="col">最后交互时间</th>
    <th scope="col">最近启动时间</th>
    <th scope="col">今日info数</th>
    <th scope="col">今日warning数</th>
    <th scope="col">今日error数</th>
    <th scope="col">状态</th>
    <th scope="col">操作</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>廊坊平台</td>
    <td>nfkOb5QqatLw3v0skmmUCHBuqjWRfsdX21DzSZA0</td>
    <td>19:11:44</td>
    <td>07:44:07</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>
      <a routerLink="./edit/1">编辑</a>&nbsp;&nbsp;
      <a href="#">删除</a>
    </td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>廊坊平台</td>
    <td>nfkOb5QqatLw3v0skmmUCHBuqjWRfsdX21DzSZA0</td>
    <td>19:11:44</td>
    <td>07:44:07</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>
      <a routerLink="./edit/2">编辑</a>&nbsp;&nbsp;
      <a href="#">删除</a>
    </td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>廊坊平台</td>
    <td>nfkOb5QqatLw3v0skmmUCHBuqjWRfsdX21DzSZA0</td>
    <td>19:11:44</td>
    <td>07:44:07</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>
      <a routerLink="./edit/3">编辑</a>&nbsp;&nbsp;
      <a href="#">删除</a>
    </td>
  </tr>
  </tbody>
</table>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
