<form (ngSubmit)="onSubmit()" [formGroup]="formGroup">
  <div class="form-group">
    <label for="webHook">WebHook</label>
    <input formControlName="webHook" type="text" class="form-control" id="webHook">
    <small class="form-text text-muted">请妥善保管信息，避免泄露</small>
  </div>
  <div class="form-group">
    <label for="secret">Secret</label>
    <input formControlName="secret" type="text" class="form-control" id="secret">
    <small class="form-text text-muted">请妥善保管信息，避免泄露</small>
  </div>
  <button class="btn btn-info">更新</button>
</form>
